@model List<StireModel>

@{
    List<StireModel> stiri = Model;
    ViewData["Title"] = "Portal Stiri Lab07";
}

<h1>Portal Stiri Lab07</h1>

@{
    foreach(StireModel stire in stiri)
    {
        <h2><a asp-controller="Stire" asp-action="Stire" asp-route-stireId="@stire.Id">@stire.Titlu</a></h2>
        <h2><a asp-controller="Stire" asp-action="ModificaStire" asp-route-stireId="@stire.Id">Modifica stire </a></h2>
        <h2><a asp-controller="Stire" asp-action="StergeStire" asp-route-stireId="@stire.Id">Sterge stire </a></h2>
        <br/>
    }
}
@* daca nu mentionam controller-ul, este implicit controllerul cu acelasi nume precum folder-ul parinte al fisierului *@
<h2><a asp-action="AdaugaStire">Adauga Stire</a></h2>