@page
@using Lab05_Gr362.Models
@model IndexModel
@{
    ViewData["Title"] = "Portal Stiri";
}

<h1>Portal Stiri</h1>
@{
    foreach (Stire stire in Model.Stire)
    {
        <h2><a asp-page="Stire" asp-route-stireId="@stire.Id">@stire.Titlu</a></h2>
        <br />
    }
}