@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

@foreach(Models.Stire stire in Model.Stiri)
{
    <div class="stire">
        <h1>@stire.Titlu</h1>
        <p>@stire.Lead</p>
        <p>Adaugat de @stire.Autor, in categoria @stire.Categorie.Nume</p>

    </div>
}
</div>
