@page
@model Lab06.Pages.StergeStireModel
@{
}

<div class="container">
    <form method="post">
        <input type="hidden" asp-for="@Model.Stire.Id" />
        <input type="submit" value="Sterge" />
        <br />
    </form>
</div>